* {
    font-family: sans-serif;
  }
  
  .list-links {
    list-style: none;
    max-width: 600px;
    margin: auto;
  }
  
  .link-item {
    display: block;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    border-radius: 2px;
  }
  
  .link-item:hover {
    text-decoration: underline;
  }